/*uploading fonts*/
@font-face {
    font-family: 'PP Neue Montreal';
    src: url("../PPNeueMontreal-Book.otf") format('opentype');
    src: url("../PPNeueMontreal-Italic.otf") format('opentype');
    src: url("../PPNeueMontreal-Medium.otf") format('opentype');
    src: url("../PPNeueMontreal-SemiBolditalic.otf") format('opentype');
    src: url("../PPNeueMontreal-Thin.otf") format('opentype');
    src: url("../PPNeueMontreal-Bold.otf") format('opentype');
}



html {
    background-image: url("Landing page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background: yellow;   */
    display: flex;
    padding: 0.75rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.name {
    width: 50%;
    /* background: green; */
    font-family: 'PP Neue Montreal';
    font-weight: 400;
    font-size: 2rem;
    padding: 0;
    letter-spacing: 0.34em;
    text-align: left;
    color: #FFFFFF;
}

nav {
    /* background: black; */
    width: 50%;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    /* background: blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;

}

ul li {
    display: inline-block;
    /* background: brown; */
    width: 33%;

}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-family: 'PP Neue Montreal';
    /* background: red;  */
    font-size: 1.5rem;
    letter-spacing: 0.34rem;
    display: flex;
    justify-content: flex-end;
}

.titlepic {
    display: flex;
    justify-content: center;
    padding: 8rem;
    /* background: yellow; */
}

.title {
    max-width: 100%;
    height: auto;
}


/* Hi there! */
.hithere {
    position: absolute;
    left: 2.5rem;
    top: 45rem;
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.14rem;
    color: #FFFFFF;
}


.aboutme {
    font-family: 'PP Neue Montreal';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 206.4%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.aboutme {
    position: absolute;
    top: 50rem;
    left: 2.5rem;
    width: 50%;
    padding-bottom: 6rem;
}

.myworks {
    position: absolute;
    /* background: red; */
    top: 80rem;
    display: grid;
     grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr;
    column-gap: 1.25rem;
    /* border: 2px solid blue; */
    width: 100%;
    max-width: 1440px;
    padding: 0 2.5rem;
}

.selected {
    grid-area: 1 / 1 / span 1/ span 12;
    color:#FFFFFF;
    font-family: 'PP Neue Montreal';
    font-size: 4rem;
    font-weight:200;
    text-transform: uppercase;
  
}

.work_1 {
    grid-area: 2/ 1 / span 1 / span 5;
    /* background: blue; */
    justify-items: space-around;
    width: max-content;
}

.work_2 {
    grid-area: 4 / 6 / span 1 / span 7;
}

.work_3 {
    grid-area: 6 / 1 / span 1 / span 5;
}

.work_1, .work_2, .work_3 {
    color: #FFFFFF;
    font-family: 'PP Neue Montreal';
}

.type {
    border: 1px solid #FFFFFF;
    width:max-content;
    padding: 0.15rem;
    border-radius: 0.3125rem;
    display: inline-block;
    font-size: 2rem;
    margin-right: 0.625rem;
    /* background: green; */
}

.projectname {
    font-size: 6rem;
    text-transform: uppercase;
    text-align:left;
     background: yellow; 
    width:fit-content;
    line-height: 10rem;
    /* max-height:600px; */
}

.description {
    font-size: 2rem;
}

.link {
    font-size: 2rem;
}
